#header-container {
    display: flex;
    justify-content: center;
    
} 

#banana-header {
    display: inline-block;
}

#profile {
   display: inline-block;
}

#banana {
    width: 75px;
    
}

#profile-image {
    width: 100px;
    border-radius: 100%;
}