#header-container {
    display: flex;
    justify-content: center;
} 

#banana-header {
    display: inline-block;
}

#profile {
   display: inline-block;
}

#banana {
    width: 75px;
    
}

#profile-image {
    width: 100px;
    border-radius: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
    background-color: #eec900;
    margin: 3px;
    border-radius: 3px;
}

#gif-list {
    display: flex;
    flex-flow: row wrap;
}

#gif-list img {
    margin: 5px;
}